.star-selected svg{
  fill: yellow;
}

#Login-Panel {
  left: 50%;
  top: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35%;
  box-shadow: 10px -10px 5px #CCC;
  border-radius: 30px;
  border: 1px solid black;
  padding: 30px;
}

#Login-Panel h1 {
  text-align: center;
}

#Remember-Forgot{
  display: flex;
  justify-content: space-between;
}

#Forgot, #Signup-Link  {
  text-decoration: none;
}

#Login-Button {
  width: 100%;
  margin-bottom: 10px;
}

#Other-Options {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

#RoomDataCard {
  width: 15rem;
  margin-left: 30px;
  text-align: center;
  height: 13rem;
  font-family: Roboto;
  font-size: larger;
}

.flexSpace {
  display: flex;
  justify-content: space-around;
}

.dayRange {
  display: flex;
  justify-content: flex-end;
}

.filterSelect {
  width: 15% !important;
}

.textRed {
  color: red;
}

.textGreen {
  color: green;
}

.textBlack {
  color: black;
}

.failAlert {
  height: 0px;
  text-align: center;
  font-size: medium;
}

.vCenter {
  margin: 0;
  margin-top: 35px;
}

.gCenter {
  margin: 0;
  margin-top: 55px;
}

.space {
  margin-left: 4px;
  margin-right: 4px;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  height: 250px;
  overflow-y: scroll;
}