.star-selected svg{
  fill: yellow;
}

#Login-Panel {
  left: 50%;
  top: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 35%;
  box-shadow: 10px -10px 5px #CCC;
  border-radius: 30px;
  border: 1px solid black;
  padding: 30px;
}

#Login-Panel h1 {
  text-align: center;
}

#Remember-Forgot{
  display: flex;
  justify-content: space-between;
}

#Forgot, #Signup-Link  {
  text-decoration: none;
}

#Login-Button {
  width: 100%;
  margin-bottom: 10px;
}

#Other-Options {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

#RoomDataCard {
  width: 15rem;
  margin-left: 30px;
  text-align: center;
  height: 13rem;
  font-family: Roboto;
  font-size: larger;
}

.flexSpace {
  display: flex;
  justify-content: space-around;
}

.dayRange {
  display: flex;
  justify-content: flex-end;
}

.filterSelect {
  width: 15% !important;
}

.textRed {
  color: red;
}

.textGreen {
  color: green;
}

.textBlack {
  color: black;
}

.failAlert {
  height: 0px;
  text-align: center;
  font-size: medium;
}

.vCenter {
  margin: 0;
  margin-top: 35px;
}

.gCenter {
  margin: 0;
  margin-top: 55px;
}

.space {
  margin-left: 4px;
  margin-right: 4px;
}

.flexAlign {
  display: flex;
  align-items: center;
}

.dropdown-menu {
  height: 250px;
  overflow-y: scroll;
}

.fetching-loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot-elastic {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  margin-left: 20px;
  margin-top: 10px;
  animation: dotElastic 1s infinite linear;
}

.dot-elastic::before, .dot-elastic::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-elastic::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  animation: dotElasticBefore 1s infinite linear;
}

.dot-elastic::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #000000;
  color: #000000;
  animation: dotElasticAfter 1s infinite linear;
}

@keyframes dotElasticBefore {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1.5);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElastic {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 1.5);
  }
  75% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes dotElasticAfter {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1, 0.67);
  }
  75% {
    transform: scale(1, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}