body {
  margin: 10rem;
  padding: 1rem;
  width: 100vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  /* overflow-x: scroll; */
}
/* for desktop */
@media (min-width: 850px) {
  body {
    margin: 10rem;
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    /* overflow-x: scroll; */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.horizontal {
  /* display: flex;
  flex-direction: row; */
}

.vertical {
  /* display: flex;
  flex-direction: column; */
  /* width: 90%; */
}

.header {
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  /* padding: -1rem; */
  z-index: 1;
  top: 0;
  position: sticky;
}

.error {
  margin: 5%;
  justify-content: center;
  text-align: center;
  color: red;
}

/* .margins {
  margin: 10rem;
} */
